
	<div class="jumbotron jumbotron-fluid books-hero">
	  <div class="container text-white">
	    <h1 class="display-4 route-title">{{title}}</h1>
	    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
	  </div>
	</div>
	<div id="page-content" class="bg-white">
		<div class="container">
			{{>_bookslist}}
		</div>
	</div>

